@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Customer">Customer Table</a>.</p>
    <p><a href="/Location">Location Table</a>.</p>
    <p><a href="/Product">Product Table</a>.</p>
    <p><a href="/Order">Order Table</a>.</p>
</div>
